::-webkit-scrollbar{
  display: none;
}
*{
  margin: 0;
}
body{
    background-image: url(assets/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: grid;
    grid-template-columns: repeat( 100px);
    gap: .1rem;
    height: 97vh;
  //   .general-div {
  //     width: 50px;
  //     background: repeating-linear-gradient(to right, #fff 0, #fff 50px, transparent 50px, transparent 52rem);
  //     position: fixed;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     z-index: -1; /* Place the empty div behind other content */
  // }
  .general-div1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .navbar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      margin-top: 0;
      height: 3.2rem;
      // border: 2px solid #000;
      .navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 2px solid #000;
        width: 30%;

        p{
          display: none;
        }
       .aTags{
        width: 100%;
        display: flex;
        justify-content: space-between;
       }
        a{
          text-decoration: none;
        }
      }
      .registration{
        display: flex;
        gap: 1rem;
      }
      .btn1{
        background: none;
        border: none;
      }
      .btn2{
        height: 40px;
        width: 7em;
        background: blue;
        color: aliceblue;
        border: none;
        border-radius: 3em;
      }
    }
    .content-div{
      display: grid;
      grid-template-columns: .4fr 1fr;
      // border: 2px solid #000;
      height: 77%;

      .button{
        display: flex;
        gap: 1em;
      }
     .btn3{
      height: 40px;
      width: 9em;
      background: blue;
      border: none;
      border-radius: 3em;
      color: yellow;
     }
     .btn4{
      height: 40px;
      width: 9em;
      background: none;
      backdrop-filter: blur(50px);
      border: none;
      border-radius: 3em;
     }
     .image{
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 0;

      .div1{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1em;
        // border: 2px solid #000;
        margin-right: 0;
        padding-right: 0;
      }
      .div2{
        margin-left: -2rem;
      }
      .div1 img ,.div2 img{
        border-radius: 1rem;
      }
     }
    }
    .footer{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  @media screen and (max-width: 600px){
    body{
      height: 100%;
      width: 100%;
     
     
    }
    .general-div1{
      // overflow-y: hidden;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-image: url(assets/image.jpg);
      background-size: cover;
     background-repeat: no-repeat;
      background-position: center center;

      .navbar{
        display: flex;
        // flex-direction: row-reverse;
        justify-content: space-around;
        width: 100%;
        margin: 5px;

        .navigation{
          display: flex;
          flex-direction: column;

          p{
            display: block;
          }
          .aTags{
            display: none;
          }
        }
        .navigation:hover .aTags{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 10px;
        }
        .navigation:hover p{
          display: none;
        }
      }
     
    .content-div{
      display: flex;
      flex-direction: column-reverse;
      width: 80%;
      margin: 5px;

      .image{
        display: flex;
        flex-direction: column;
        margin-top: 17rem;

        .image img{
          max-width: 100%;
          max-height: 100%;
        }
        .div2{
          margin: 0;
          align-items: center;
        }
      }
    }
    .footer{
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
    }
  }
  }
}
