::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
}

body {
  background-image: url(assets/image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  grid-template-columns: repeat(100px);
  gap: 0.1rem;
  height: 97vh;
}
body .general-div1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
body .general-div1 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 0;
  height: 3.2rem;
}
body .general-div1 .navbar .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
body .general-div1 .navbar .navigation p {
  display: none;
}
body .general-div1 .navbar .navigation .aTags {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .general-div1 .navbar .navigation a {
  text-decoration: none;
}
body .general-div1 .navbar .registration {
  display: flex;
  gap: 1rem;
}
body .general-div1 .navbar .btn1 {
  background: none;
  border: none;
}
body .general-div1 .navbar .btn2 {
  height: 40px;
  width: 7em;
  background: blue;
  color: aliceblue;
  border: none;
  border-radius: 3em;
}
body .general-div1 .content-div {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  height: 77%;
}
body .general-div1 .content-div .button {
  display: flex;
  gap: 1em;
}
body .general-div1 .content-div .btn3 {
  height: 40px;
  width: 9em;
  background: blue;
  border: none;
  border-radius: 3em;
  color: yellow;
}
body .general-div1 .content-div .btn4 {
  height: 40px;
  width: 9em;
  background: none;
  backdrop-filter: blur(50px);
  border: none;
  border-radius: 3em;
}
body .general-div1 .content-div .image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}
body .general-div1 .content-div .image .div1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1em;
  margin-right: 0;
  padding-right: 0;
}
body .general-div1 .content-div .image .div2 {
  margin-left: -2rem;
}
body .general-div1 .content-div .image .div1 img, body .general-div1 .content-div .image .div2 img {
  border-radius: 1rem;
}
body .general-div1 .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 600px) {
  body body {
    height: 100%;
    width: 100%;
  }
  body .general-div1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(assets/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  body .general-div1 .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5px;
  }
  body .general-div1 .navbar .navigation {
    display: flex;
    flex-direction: column;
  }
  body .general-div1 .navbar .navigation p {
    display: block;
  }
  body .general-div1 .navbar .navigation .aTags {
    display: none;
  }
  body .general-div1 .navbar .navigation:hover .aTags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
  }
  body .general-div1 .navbar .navigation:hover p {
    display: none;
  }
  body .general-div1 .content-div {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin: 5px;
  }
  body .general-div1 .content-div .image {
    display: flex;
    flex-direction: column;
    margin-top: 17rem;
  }
  body .general-div1 .content-div .image .image img {
    max-width: 100%;
    max-height: 100%;
  }
  body .general-div1 .content-div .image .div2 {
    margin: 0;
    align-items: center;
  }
  body .general-div1 .footer {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=responsive.css.map */
